.wrapper {
  overflow: hidden;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories {
}
.categories__body {
  max-width: 1630px;
  padding: 0 15px;
}
.categories__title {
  margin-bottom: 68px;
  font-size: 40px;
  color: #201714;
  position: relative;
}

.categories__title::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 88px;
  height: 4px;
  background-color: #ffcc01;
  border-radius: 99px;
}
.categories__cards {
  display: flex;
  gap: 26px;
}

.card {
  border-radius: 16px;
  border: 2px solid #79c800;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
  width: 23vw;
  height: 188px;
  flex: 0 1 23.782%;
  backdrop-filter: blur(8px);
}
.card:hover {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(121, 200, 0, 0.4);
}

.card__body {
  display: flex;
  justify-content: space-between;
}

.card__name {
  color: #201714;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -1px;
  max-width: 161px;
  padding: 15px;

  display: flex;
  align-items: end;
  margin-bottom: -30px;
}
.card__images {
  background-repeat: no-repeat;
  background-size: contain;
  width: 208px;
  height: 188px;
  margin-top: -30px;
}
.card__image-1-diactivate {
  display: block;
}
.card__image-1-active {
  display: none;
}
.card__image-2-diactivate {
  display: block;
}
.card__image-2-active {
  display: none;
}
.card__image-3-diactivate {
  display: block;
}
.card__image-3-active {
  display: none;
}
.card__image-4-diactivate {
  display: block;
}
.card__image-4-active {
  display: none;
}

/* background images  */

.leaf-green {
  position: absolute;
  top: 220px;
  left: 0px;
}
.decor {
  position: absolute;
  top: 55px;
  right: 564px;
}
.circle {
  position: absolute;
  top: 5px;
  right: 0;
}
.leaf-brown {
  position: absolute;
  bottom: 280px;
  right: 550px;
  z-index: -1;
}
.stones {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Media */

@media (max-width: 1550px) {
  .categories__cards {
    flex-wrap: wrap;
  }
  .card {
    flex: 0 1 48%;
  }
}
@media (max-width: 768px) {
  .categories__cards {
    flex-wrap: wrap;
  }
  .card {
    flex: 0 1 100%;
  }
  .card__name {
    font-size: 28px;
  }
}

/* Animation and Hover */

span,
span::after,
span::before {
  display: none;
  background-color: rgba(253, 250, 250, 0.1);
  border-radius: 50%;

  position: absolute;
  z-index: -3;
}
.circles-1 {
  width: 100px;
  height: 100px;

  animation: cards-1-circle-100 linear 4s infinite alternate;
}
.circles-1::after {
  content: "";
  width: 40px;
  height: 40px;

  animation: cards-1-circle-40 linear 5s infinite alternate;
}
.circles-1::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: rgba(253, 250, 250, 0.3);

  animation: cards-1-circle-20 linear 6s infinite alternate;
}
.circles-2 {
  width: 100px;
  height: 100px;

  animation: cards-2-circle-100 linear 4s infinite alternate;
}
.circles-2::after {
  content: "";
  width: 80px;
  height: 80px;

  animation: cards-2-circle-80 linear 5s infinite alternate;
}
.circles-2::before {
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgba(253, 250, 250, 0.3);

  animation: cards-2-circle-50 linear 6s infinite alternate;
}
.circles-3 {
  width: 120px;
  height: 120px;

  animation: cards-3-circle-120 linear 4s infinite alternate;
}
.circles-3::after {
  content: "";
  width: 80px;
  height: 80px;

  animation: cards-3-circle-80 linear 5s infinite alternate;
}
.circles-3::before {
  content: "";
  width: 60px;
  height: 60px;
  background-color: rgba(253, 250, 250, 0.3);

  animation: cards-3-circle-60 linear 6s infinite alternate;
}
.circles-4 {
  width: 100px;
  height: 100px;

  animation: cards-1-circle-100 linear 4s infinite alternate;
}
.circles-4::after {
  content: "";
  width: 40px;
  height: 40px;

  animation: cards-1-circle-40 linear 5s infinite alternate;
}
.circles-4::before {
  content: "";
  width: 20px;
  height: 20px;
  background-color: rgba(253, 250, 250, 0.3);

  animation: cards-1-circle-20 linear 6s infinite alternate;
}

.anim-green {
  animation: leaf-green linear 0.6s infinite alternate;
}
.anim-brown {
  animation: leaf-brown linear 0.6s infinite alternate;
}

.categories__cards_card-1:hover .card__image-1-active {
  display: block;
}
.categories__cards_card-1:hover .card__image-1-diactivate {
  display: none;
}
.categories__cards_card-1:hover .circles-1,
.circles-1::after,
.circles-1::before {
  display: inline-block;
}

.categories__cards_card-2:hover .card__image-2-active {
  display: block;
}
.categories__cards_card-2:hover .card__image-2-diactivate {
  display: none;
}
.categories__cards_card-2:hover span,
span::after,
span::before {
  display: inline-block;
}

.categories__cards_card-3:hover .card__image-3-active {
  display: block;
}
.categories__cards_card-3:hover .card__image-3-diactivate {
  display: none;
}
.categories__cards_card-3:hover span,
span::after,
span::before {
  display: inline-block;
}

.categories__cards_card-4:hover .card__image-4-active {
  display: block;
}
.categories__cards_card-4:hover .card__image-4-diactivate {
  display: none;
}
.categories__cards_card-4:hover span,
span::after,
span::before {
  display: inline-block;
}

@keyframes leaf-green {
  0% {
    top: 220px;
    left: 10px;
  }
  100% {
    top: 225px;
    left: 13px;
  }
}
@keyframes leaf-brown {
  0% {
    bottom: 280px;
    right: 550px;
  }
  100% {
    bottom: 285px;
    right: 545px;
  }
}

/* animation for card #1  */

@keyframes cards-1-circle-100 {
  0% {
    top: -20px;
    left: -20px;
  }
  70% {
    top: 50px;
    left: 140px;
    width: 200px;
    height: 200px;
  }
  100% {
    top: 10px;
    left: 280px;
    width: 150px;
    height: 150px;
  }
}
@keyframes cards-1-circle-40 {
  0% {
    top: 10px;
    left: 300px;
  }
  50% {
    top: 50px;
    left: 40px;
    width: 100px;
    height: 100px;
  }
  100% {
    top: 115px;
    left: 15px;
    width: 20px;
    height: 20px;
  }
}
@keyframes cards-1-circle-20 {
  0% {
    top: 100px;
    left: 300px;
  }
  50% {
    top: 50px;
    left: 40px;
    width: 100px;
    height: 100px;
  }
  100% {
    top: 100px;
    left: -15px;
    width: 20px;
    height: 20px;
  }
}
/* animation for card #2  */

@keyframes cards-2-circle-100 {
  0% {
    top: -20px;
    left: -20px;
  }
  70% {
    top: 50px;
    left: 140px;
    width: 200px;
    height: 200px;
  }
  100% {
    top: 10px;
    left: 280px;
    width: 150px;
    height: 150px;
  }
}
@keyframes cards-2-circle-80 {
  0% {
    top: 100px;
    left: 300px;
  }
  50% {
    top: 50px;
    left: 140px;
    width: 200px;
    height: 200px;
  }
  100% {
    top: 10px;
    left: 280px;
    width: 150px;
    height: 150px;
  }
}
@keyframes cards-2-circle-50 {
  0% {
    top: 100px;
    left: 30px;
  }
  50% {
    top: 50px;
    left: 40px;
    width: 100px;
    height: 100px;
  }
  100% {
    top: 50px;
    left: 10px;
    width: 20px;
    height: 20px;
  }
}
/* animation for card #3  */

@keyframes cards-3-circle-120 {
  0% {
    top: 10px;
    left: 200px;
  }
  50% {
    top: 30px;
    left: 140px;
    width: 50px;
    height: 50px;
  }
  100% {
    top: 50px;
    left: 20px;
    width: 150px;
    height: 150px;
  }
}
@keyframes cards-3-circle-80 {
  0% {
    top: 0px;
    left: 0px;
  }
  50% {
    top: 10px;
    left: 10px;
    width: 80px;
    height: 80px;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 80px;
    height: 80px;
  }
}
@keyframes cards-3-circle-60 {
  0% {
    top: 10px;
    left: 30px;
  }
  5% {
    top: 50px;
    left: 90px;
    width: 100px;
    height: 100px;
  }
  100% {
    top: 10px;
    left: 100px;
    width: 20px;
    height: 20px;
  }
}
